body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align to top */
  min-height: 20vh; /* Ensure full height for centering */
  margin: 2;
  }
  
  .form-container {
    width: 500px;
    padding: 30px;
    margin-top: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #c81906;
  }
  
  .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  label {
    width: 120px;
    text-align: right;
    margin-right: 15px;
    color: #333;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="number"],
  input[type="tel"],
  input[type="email"] {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #555;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cancel-button {
    background-color: #c81906;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  .hire-button {
    background-color: #077d38;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  .cancel-button:hover,
  .hire-button:hover {
    opacity: 0.9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  